.desktop{
    display: none;
}

.phone{
    display: none;
}

.tablet{
    display: none;
}








/* DESKTOP */
@media screen and (min-width: 780px) {
    .desktop{
        display: block !important;
    }

    html{
        background-color: #252525;
    }

    .navigation-bar{
        overflow: hidden;
        position: fixed;
        top: 0;
        left: 2vw;
        right: 2vw;
        height: 70px;
        z-index: 9;
    }

    .logo{
        float: left;
        display: block;
        padding: 0 0 0 0;
    }

    .navigation-bar .active{   
        text-decoration: underline;
    }

    .navigation-bar a{
        float: left;   
        display: block;
        text-align: center;
        font-family: 'Archivo', sans-serif;
        padding-left: 52px;
        height: 70px;
        line-height: 70px;
        text-decoration: none;
    }

    .navigation-bar a:hover{
        text-decoration: underline;
    }



    .content-wrap{
        position: absolute;
        top: 70px;
        left: 2vw;
        right: 2vw;
        height: 100%;
        z-index: 1;
    }

    .content-block{
        padding-top: 3vh;
    }

    .content-block .title{
        font-family: 'Archivo', sans-serif;
        text-transform: uppercase;
        color: #CFB53B;
    }

    .one-column-item .text-block{
        padding-top: 3vh;
        padding-bottom: 3vh;
        padding-left: 2vw;
        padding-right: 2vw;
        margin-top: 1vh;
        font-family: 'Archivo', sans-serif;
    }

    .one-column-item .img-block a{
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
    }

    .one-column-item .img-block img{
        display: block;
        margin-top: 1vh;
        object-fit: cover;
        object-position: 50% 50%;
        width: 100%;
        height: 50vh;
    }

    .one-column-item .img-block .page-title{
        display: block;
        position: absolute;
        top: 0;
        height: 50vh;
        left: 0;
        right: 0;
        line-height: 50vh;
        padding-left: 5%;
        font-family: 'Archivo', sans-serif;
        font-size: 3em;
        opacity: 0;
        transition: opacity 500ms linear 0s;
    }

    .one-column-item .img-block a:hover .page-title{
        opacity: 1;
    }



    .footer-bar{
        overflow: hidden;
        position: fixed;
        bottom: 0;
        left: 2vw;
        right: 2vw;
        height: 70px;
        z-index: 9;
    }

    .footer{
        width: 100%;
        height: 70px;
        line-height: 70px;
        text-align: center;
        font-family: 'Archivo', sans-serif;
    }

    @media (prefers-color-scheme: light) {
        .navigation-bar .active{
            color: #BA9C0D;
        }

        .navigation-bar{
            background-color: #D6D6D6;
        }

        .navigation-bar a{
            color: #1E1E1E;
        }

        .navigation-bar a:hover{
            color: #BA9C0D;
        }



        .content-block .one-column-item{
            background-color: #D6D6D6;
        }

        .one-column-item .text-block{
            color: #1E1E1E;
        }

        .one-column-item .img-block .page-title{
            color: #1E1E1E;
            background-color: rgba(214, 214, 214, 0.9);
        }



        .footer-bar{
            background-color: #D6D6D6;
        }

        .footer{
            color: #1E1E1E;
        }
    }

    @media (prefers-color-scheme: dark) {
        .navigation-bar .active{
            color: #CFB53B;
        }

        .navigation-bar{
            background-color: #1E1E1E;
        }

        .navigation-bar a{
            color: #FFFFFF;
        }

        .navigation-bar a:hover{
            color: #CFB53B;
        }



        .content-block .one-column-item{
            background-color: #1E1E1E;
        }

        .one-column-item .text-block{
            color: #FFFFFF;
        }

        .one-column-item .img-block .page-title{
            color: #FFFFFF;
            background-color: rgba(30, 30, 30, 0.9);
        }



        .footer-bar{
            background-color: #1E1E1E;
        }

        .footer{
            color: #FFFFFF;
        }
    }
}









/* TABLET */
@media screen and (min-width: 540px) and (max-width: 780px) {
    .tablet{
        display: block !important;
    }

    html{
        background-color: #252525;
    }

    .navigation-bar{
        overflow: hidden;
        position: fixed;
        top: 0;
        left: 2vw;
        right: 2vw;
        height: 70px;
        z-index: 9;
    }

    .logo{
        float: left;
        display: block;
        padding: 0 0 0 0;
    }

    .navigation-bar .active{   
        text-decoration: underline;
    }

    .navigation-bar a{
        float: left;   
        display: block;
        text-align: center;
        font-family: 'Archivo', sans-serif;
        padding-left: 52px;
        height: 70px;
        line-height: 70px;
        text-decoration: none;
    }

    .navigation-bar a:hover{
        text-decoration: underline;
    }



    .content-wrap{
        position: absolute;
        top: 70px;
        left: 2vw;
        right: 2vw;
        height: 100%;
        z-index: 1;
    }

    .content-block{
        padding-top: 3vh;
    }

    .content-block .title{
        font-family: 'Archivo', sans-serif;
        text-transform: uppercase;
        color: #CFB53B;
    }

    .one-column-item .text-block{
        padding-top: 3vh;
        padding-bottom: 3vh;
        padding-left: 2vw;
        padding-right: 2vw;
        margin-top: 1vh;
        font-family: 'Archivo', sans-serif;
    }

    .one-column-item .img-block a{
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
    }

    .one-column-item .img-block img{
        display: block;
        margin-top: 1vh;
        object-fit: cover;
        object-position: 50% 50%;
        width: 100%;
        height: 30vh;
    }

    .one-column-item .img-block .page-title{
        display: block;
        position: absolute;
        top: 0;
        height: 30vh;
        left: 0;
        right: 0;
        line-height: 30vh;
        padding-left: 5%;
        font-family: 'Archivo', sans-serif;
        font-size: 3em;
        opacity: 0;
        transition: opacity 500ms linear 0s;
    }

    .one-column-item .img-block a:hover .page-title{
        opacity: 1;
    }




    .footer-bar{
        overflow: hidden;
        position: fixed;
        bottom: 0;
        left: 2vw;
        right: 2vw;
        height: 70px;
        z-index: 9;
    }

    .footer{
        width: 100%;
        height: 70px;
        line-height: 70px;
        text-align: center;
        font-family: 'Archivo', sans-serif;
    }

    @media (prefers-color-scheme: light) {
        .navigation-bar .active{
            color: #BA9C0D;
        }

        .navigation-bar{
            background-color: #D6D6D6;
        }

        .navigation-bar a{
            color: #1E1E1E;
        }

        .navigation-bar a:hover{
            color: #BA9C0D;
        }



        .content-block .one-column-item{
            background-color: #D6D6D6;
        }

        .one-column-item .text-block{
            color: #1E1E1E;
        }

        .one-column-item .img-block .page-title{
            color: #1E1E1E;
            background-color: rgba(214, 214, 214, 0.9);
        }




        .footer-bar{
            background-color: #D6D6D6;
        }

        .footer{
            color: #1E1E1E;
        }
    }

    @media (prefers-color-scheme: dark) {
        .navigation-bar .active{
            color: #CFB53B;
        }

        .navigation-bar{
            background-color: #1E1E1E;
        }

        .navigation-bar a{
            color: #FFFFFF;
        }

        .navigation-bar a:hover{
            color: #CFB53B;
        }



        .content-block .one-column-item{
            background-color: #1E1E1E;
        }

        .one-column-item .text-block{
            color: #FFFFFF;
        }

        .one-column-item .img-block .page-title{
            color: #FFFFFF;
            background-color: rgba(30, 30, 30, 0.9);
        }





        .footer-bar{
            background-color: #1E1E1E;
        }

        .footer{
            color: #FFFFFF;
        }
    }
}








/* PHONE */
@media screen and (max-width: 540px) {
    .phone{
        display: block !important;
    }

    html{
        background-color: #252525;
    }

    .navigation-bar{
        overflow: hidden;
        position: fixed;
        top: 5vh;
        bottom: 5vh;
        right: 0;
        width: 50px;
        z-index: 8;
    }

    .logo{
        float: left;
        display: block;
        padding: 0 0 0 0;
    }

    .navigation-bar a{
        float: left;   
        display: block;
        text-align: center;
        font-family: 'Archivo', sans-serif;
        padding-top: 26px;
        width: 50px;
        text-decoration: none;
    }
    
    .navigation-bar-footer-link{
        position: fixed;
        text-align: center;
        font-family: 'Archivo', sans-serif;
        bottom: 5vh;
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-decoration: none;
    }



    .content-wrap{
        position: absolute;
        top: 3vh;
        left: 2vw;
        right: calc(2vw + 50px);
        height: 100%;
        z-index: 1;
    }

    .content-block{
        padding-top: 2vh;
    }

    .content-block .title{
        font-family: 'Archivo', sans-serif;
        text-transform: uppercase;
        color: #CFB53B;
    }

    .one-column-item .text-block{
        padding-top: 1vh;
        padding-bottom: 1vh;
        padding-left: 2vw;
        padding-right: 2vw;
        margin-top: 1vh;
        font-family: 'Archivo', sans-serif;
        font-size: .8em;
    }

    .one-column-item .img-block a{
        display: block;
        position: relative;
        width: 100%;
        height: 10vh;
        top: 0;
        bottom: 0;
        margin-top: 1vh;
        text-decoration: none;
    }

    .one-column-item .img-block .button{
        display: block;
        height: 10vh;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        font-family: 'Archivo', sans-serif;
        text-align: center;
        line-height: 10vh;
    }





    .footer-bar{
        overflow: hidden;
        position: fixed;
        bottom: 5vh;
        left: 2vw;
        right: 50px;
        height: 50px;
        visibility: hidden;
        z-index: 9;
    }

    .footer{
        width: 100%;
        height: 50px;
        line-height: 50px;
        text-align: center;
        font-family: 'Archivo', sans-serif;
        font-size: .8em;
    }

    @media (prefers-color-scheme: light) {
        .navigation-bar .active{
            text-shadow: 0 0 15px #BA9C0D, 0 0 15px #BA9C0D;
        }

        .navigation-bar{
            background-color: #D6D6D6;
        }

        .navigation-bar a{
            color: #1E1E1E;
        }

        .navigation-bar a:hover{
            text-shadow: 0 0 15px #BA9C0D, 0 0 15px #BA9C0D;
        }



        .content-block .one-column-item{
            background-color: #D6D6D6;
        }

        .one-column-item .text-block{
            color: #1E1E1E;
        }

        .one-column-item .img-block .button{
            color: #1E1E1E;
            background-color: #D6D6D6;
        }

        .one-column-item .img-block a:hover .button{
            color: #BA9C0D;
            background-color: #1E1E1E;
        }





        .footer-bar{
            background-color: #D6D6D6;
        }

        .footer{
            color: #1E1E1E;
        }

        .navigation-bar-footer-link{
            color: #1E1E1E;
        }
    }

    @media (prefers-color-scheme: dark) {
        .navigation-bar .active{
            text-shadow: 0 0 15px #CFB53B, 0 0 15px #CFB53B;
        }

        .navigation-bar{
            background-color: #1E1E1E;
        }

        .navigation-bar a{
            color: #FFFFFF;
        }

        .navigation-bar a:hover{
            text-shadow: 0 0 15px #CFB53B, 0 0 15px #CFB53B;
        }



        .content-block .one-column-item{
            background-color: #1E1E1E;
        }

        .one-column-item .text-block{
            color: #FFFFFF;
        }

        .one-column-item .img-block .button{
            color: #FFFFFF;
            background-color: #1E1E1E;
        }

        .one-column-item .img-block a:hover .button{
            color: #1E1E1E;
            background-color: #CFB53B;
        }






        .footer-bar{
            background-color: #1E1E1E;
        }

        .footer{
            color: #FFFFFF;
        }

        .navigation-bar-footer-link{
            color: #FFFFFF;
        }
    }
}