.desktop{
    visibility: hidden;
}

.phone{
    visibility: hidden;
}

.tablet{
    visibility: hidden;
}








/* DESKTOP */
@media screen and (min-width: 780px) {
    .desktop{
        visibility: visible !important;
    }

    html{
        background-color: #252525;
    }

    .navigation-bar{
        overflow: hidden;
        position: fixed;
        top: 0;
        left: 2vw;
        right: 2vw;
        height: 70px;
    }

    .logo{
        float: left;
        display: block;
        padding: 0 0 0 0;
        filter: grayscale(100%);
    }

    .navigation-bar .active{   
        text-decoration: underline;
    }

    .navigation-bar a{
        float: left;   
        display: block;
        text-align: center;
        font-family: 'Archivo', sans-serif;
        padding-left: 52px;
        height: 70px;
        line-height: 70px;
        text-decoration: none;
    }

    .navigation-bar a:hover{
        text-decoration: underline;
    }

    .footer-bar{
        overflow: hidden;
        position: fixed;
        bottom: 0;
        left: 2vw;
        right: 2vw;
        height: 70px;
    }

    .footer{
        width: 100%;
        height: 70px;
        line-height: 70px;
        text-align: center;
        font-family: 'Archivo', sans-serif;
    }

    @media (prefers-color-scheme: light) {
        .navigation-bar .active{
            color: #FF1801;
        }

        .navigation-bar{
            background-color: #D6D6D6;
        }

        .navigation-bar a{
            color: #1E1E1E;
        }

        .navigation-bar a:hover{
            color: #FF1801;
        }

        .footer-bar{
            background-color: #D6D6D6;
        }

        .footer{
            color: #1E1E1E;
        }
    }

    @media (prefers-color-scheme: dark) {
        .navigation-bar .active{
            color: #FF1801;
        }

        .navigation-bar{
            background-color: #1E1E1E;
        }

        .navigation-bar a{
            color: #FFFFFF;
        }

        .navigation-bar a:hover{
            color: #FF1801;
        }

        .footer-bar{
            background-color: #1E1E1E;
        }

        .footer{
            color: #FFFFFF;
        }
    }
}









/* TABLET */
@media screen and (min-width: 540px) and (max-width: 780px) {
    .tablet{
        visibility: visible !important;
    }

    html{
        background-color: #252525;
    }

    .navigation-bar{
        overflow: hidden;
        position: fixed;
        top: 0;
        left: 2vw;
        right: 2vw;
        height: 70px;
    }

    .logo{
        float: left;
        display: block;
        padding: 0 0 0 0;
        filter: grayscale(100%);
    }

    .navigation-bar .active{   
        text-decoration: underline;
    }

    .navigation-bar a{
        float: left;   
        display: block;
        text-align: center;
        font-family: 'Archivo', sans-serif;
        padding-left: 52px;
        height: 70px;
        line-height: 70px;
        text-decoration: none;
    }

    .navigation-bar a:hover{
        text-decoration: underline;
    }

    .footer-bar{
        overflow: hidden;
        position: fixed;
        bottom: 0;
        left: 2vw;
        right: 2vw;
        height: 70px;
    }

    .footer{
        width: 100%;
        height: 70px;
        line-height: 70px;
        text-align: center;
        font-family: 'Archivo', sans-serif;
    }

    @media (prefers-color-scheme: light) {
        .navigation-bar .active{
            color: #BA9C0D;
        }

        .navigation-bar{
            background-color: #D6D6D6;
        }

        .navigation-bar a{
            color: #1E1E1E;
        }

        .navigation-bar a:hover{
            color: #FF1801;
        }

        .footer-bar{
            background-color: #D6D6D6;
        }

        .footer{
            color: #1E1E1E;
        }
    }

    @media (prefers-color-scheme: dark) {
        .navigation-bar .active{
            color: #FF1801;
        }

        .navigation-bar{
            background-color: #1E1E1E;
        }

        .navigation-bar a{
            color: #FFFFFF;
        }

        .navigation-bar a:hover{
            color: #FF1801;
        }

        .footer-bar{
            background-color: #1E1E1E;
        }

        .footer{
            color: #FFFFFF;
        }
    }
}








/* PHONE */
@media screen and (max-width: 540px) {
    .phone{
        visibility: visible !important;
    }

    html{
        background-color: #252525;
    }

    .navigation-bar{
        overflow: hidden;
        position: fixed;
        top: 5vh;
        bottom: 5vh;
        right: 0;
        width: 50px;
    }

    .logo{
        float: left;
        display: block;
        padding: 0 0 0 0;
        filter: grayscale(100%);
    }

    .navigation-bar a{
        float: left;   
        display: block;
        text-align: center;
        font-family: 'Archivo', sans-serif;
        padding-top: 26px;
        width: 50px;
        text-decoration: none;
    }
    
    .navigation-bar-footer-link{
        position: fixed;
        text-align: center;
        font-family: 'Archivo', sans-serif;
        bottom: 5vh;
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-decoration: none;
    }

    .footer-bar{
        overflow: hidden;
        position: fixed;
        bottom: 5vh;
        left: 2vw;
        right: 50px;
        height: 50px;
        visibility: hidden;
    }

    .footer{
        width: 100%;
        height: 50px;
        line-height: 50px;
        text-align: center;
        font-family: 'Archivo', sans-serif;
        font-size: .8em;
    }

    @media (prefers-color-scheme: light) {
        .navigation-bar .active{
            text-shadow: 0 0 15px #FF1801, 0 0 15px #FF1801;
        }

        .navigation-bar{
            background-color: #D6D6D6;
        }

        .navigation-bar a{
            color: #1E1E1E;
        }

        .navigation-bar a:hover{
            text-shadow: 0 0 15px #FF1801, 0 0 15px #FF1801;
        }

        .footer-bar{
            background-color: #D6D6D6;
        }

        .footer{
            color: #1E1E1E;
        }

        .navigation-bar-footer-link{
            color: #1E1E1E;
        }
    }

    @media (prefers-color-scheme: dark) {
        .navigation-bar .active{
            text-shadow: 0 0 15px #FF1801, 0 0 15px #FF1801;
        }

        .navigation-bar{
            background-color: #1E1E1E;
        }

        .navigation-bar a{
            color: #FFFFFF;
        }

        .navigation-bar a:hover{
            text-shadow: 0 0 15px #FF1801, 0 0 15px #FF1801;
        }

        .footer-bar{
            background-color: #1E1E1E;
        }

        .footer{
            color: #FFFFFF;
        }

        .navigation-bar-footer-link{
            color: #FFFFFF;
        }
    }
}