.wrapper {
    background-color: #191919;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 50px;
    color: white;
}

table, th, td {
    border: 2px solid white;
    border-collapse: collapse;
    padding: 10px;
}

.switch {
    border-bottom: 5px solid white;
    border-collapse: collapse;
}

.bold {
    font-weight: bold;
}