/* STATUS */

.services-wrapper {
    background-color: #191919;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-top: 50px;
}

.service-wrapper {
    position: relative;
    font-size: 2em;
    /*display: grid;
    grid-template-columns: 10% 60% 30%;*/
}

.status {
    color: white;
    display: inline;
}

.service-title {
    color: white;
    display: inline;
}

.service-online {
    color: green !important;
}

.service-offline {
    color: red !important;
}

.service-buttons {
    position: absolute;
    text-align: right;
    right: 2em;
    display: inline;
}

.service-button {
    display: inline;
    text-decoration: none;
    text-align: right;
    margin-left: 1em;
}

.service-button img {
    max-width: 1em;
    max-height: 1em;
}

.empty-button {
    display: inline;
    text-decoration: none;
    text-align: right;
    margin-left: 1em;
}

.empty-button img {
    max-width: 1em;
    max-height: 1em;
    opacity: 0;
}